body{
    background-image: url(Untitled\ design.png);
    color: cornsilk;
}
a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px; 
    color: cornsilk;
    border: 2px solid cornsilk;
    text-align: left;
    padding-top: 3px;


    
}
h1{
    text-align: center;
    margin-left:700px ;
    margin-top: 75px;
}
div{
    margin-top: 25px;
    margin-left: 929px;
}